@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

body{
    font-family: 'GFS Didot', serif;
}

.heading{
    width: 100%;
    /* border: 2px solid black; */
    text-align: center;
    font-size: 3rem;
}

.aboutDescription{
    width: 100% !important;
    /* border: 2px solid black !important; */
    margin: 3rem 0rem !important;
}

@media (max-width: 770px){
    

    .aboutDescription > p {
        width: 80% !important;
        /* margin: 0 !important; */
        font-size: small;
        /* border: 2px solid orange; */
    }
}

.aboutDescription > p{
    width: 60% !important;
    font-style: italic;
    font-weight: lighter;
    /* border: 2px solid pink !important; */
    margin: auto !important;
    text-align: center;
}