@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');


.header-wraper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 6rem auto !important;
    width: fit-content;
}

@media (max-width: 995px){
    .header-wraper{
        margin: 3rem auto !important;
    }
}

.top-text{
    margin: 4rem 0rem !important;
    font-family: 'GFS Didot', serif;
    font-style: italic;
    font-size: larger;
    letter-spacing: 0.4rem !important;
}

.bolderText{
    font-weight: bold;
    font-size: 2rem;
}

.bottomText{
    text-decoration: dashed;
}

.backgroundImage{
    background-image: url("../../images/home.jpg");
    height: 80vh;
    width: 90%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    margin: auto !important;
}


.rowWrapper{
    margin: 1rem 0rem !important;
    text-align: left;
}

.rowWrapper > form {
    padding: auto !important;
}


.dateRoute{
    width: fit-content;
    display: flex !important;
    align-items: flex-end;
}




@media (max-width: 400px){
    .header-wraper{
        width: 100%;
    }

    .dateWrapper{
        margin: 0.5rem auto !important;
        text-align: center;
    }

    .dateRoute{
        width: 100%;
    }
}