.contactWrapper{
    text-align: center;
    background-color: #ebf1f1;
}

.contactInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

@media (max-width: 1000px){
    .contactInfo{
        flex-direction: column;
    }
}

.contactForm{
    width: 60%;
    margin: auto;
}

.contactSend > button {
    width: 100%;
    color: white;
    background-color: black;
    margin: 1rem auto;
    height: 100%;
}