.contactWrapper{
    text-align: center;
    /* border: 2px solid black !important; */
    background-color: #ebf1f1;
}

.contactInfo{
    /* border: 2px solid pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

@media (max-width: 1000px){
    .contactInfo{
        flex-direction: column;
        /* justify-content: space-around; */
    }
}

.contactForm{
    /* border: 2px solid orange; */
    width: 60%;
    margin: auto;
}

.contactSend > button {
    /* border: 2px solid purple; */
    width: 100%;
    color: white;
    background-color: black;
    margin: 1rem auto;
    height: 100%;
}