
.galleryHeading{
    margin: 2rem auto !important;
}
.galleryWrapper{
    text-align: center;
    margin: 4rem;
    padding: 2rem !important;
}

.imgWrapper > div > img{
    height: 70vh;
    width: 50vw;
}

@media (max-width: 1000px){
    .imgWrapper > div > img{
        width: 60vw;
    }
}

.imgWrapper > div {
    height: 100%;
}

.gallery-content{
    height: 50%;
    width: 70%;
    margin: auto;
}

@media (max-width: 1000px){
    .galleryWrapper{
        margin: 0;
    }
    .gallery-content{
        width: 100%;
        margin: 0 ;

    }
}