.thingsWrapper{
    /* border: 2px solid black !important; */
    text-align: center;
    margin: 4rem !important;
}
.thingsHeading{
    /* border: 2px solid pink; */
    margin: 1rem auto !important;
}

.titleHeading{
    font-size: large;
}

.thingsContent{
    /* border: 2px solid maroon; */
    font-size: small;
    font-style: italic;
    width: 50%;
    margin: auto;
}