.thingsWrapper{
    text-align: center;
    margin: 4rem !important;
}
.thingsHeading{
    margin: 1rem auto !important;
}

.titleHeading{
    font-size: large;
}

.thingsContent{
    font-size: small;
    font-style: italic;
    width: 50%;
    margin: auto;
}